.header-container {
    display: flex;
}

#columns {
    display: flex;
    min-height: 475px;
}

#leftColumn {
    border: 1px solid green;
    width: 20%;
}

#middleColumn {
    border: 1px solid red;
    width: 50%;
}

#rightColumn {
    border: 1px solid blue;
    width: 30%;
}