body
{
   border: solid; 
   background-origin: padding-box;
   margin: 2rem;
  /*padding: 1rem;*/
}
a img {
    width: 50px;
}
h4{
    position: relative;
    
}


#search {
    position: absolute;
    width: 30px;
}


